.banner {
    &__bg {
        height: 520px;
        background-size: cover;
    }

    &__wrap {
        display: flex;
        justify-content: flex-end;
        height: 520px;
    }

    &__info {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        height: 100%;
        flex-direction: column;
    }

    &__text {
        margin-bottom: 60px;
        font-family: $primary-font;
        font-size: 32px;
        font-weight: 700;
        line-height: 1.4;
        text-transform: uppercase;
        color: #ffffff;
    }

    .button {
        margin-bottom: 65px;
    }
}
