.main-section {
    &__bg {
        height: 520px;
        background-size: cover;

        @media (max-width: 575px) {
            height: 380px;
        }
    }

    &__wrap {
        display: flex;
        justify-content: flex-end;
        height: 520px;

        @media (max-width: 575px) {
            height: 380px;
        }
    }

    &__info {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        height: 100%;
        flex-direction: column;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &__text {
        margin-bottom: 60px;
        font-family: $primary-font;
        font-size: 32px;
        font-weight: 700;
        line-height: 1.4;
        text-transform: uppercase;
        color: #ffffff;

        @media (max-width: 1200px) {
            margin-bottom: 40px;
            font-size: 26px;
        }

        @media (max-width: 575px) {
            margin-bottom: 25px;
            font-size: 20px;
            line-height: 1.2;
        }
    }

    .button {
        margin-bottom: 65px;
    }
}
