.fees {
    position: relative;
    padding-top: 70px;
    padding-bottom: 85px;

    @media (max-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media (max-width: 992px) {
        .button-wrapper {
            margin-bottom: 35px;
        }
    }

    @media (max-width: 992px) {
        .button-wrapper {
            margin-bottom: 35px;
        }
    }

    &.fees-01 {
        @media (max-width: 992px) {
            .button-wrapper {
                margin-top: 35px;
                margin-bottom: 0;
            }
        }

        &::after {
            position: absolute;
            bottom: -110px;
            left: 50%;
            display: block;
            width: 210px;
            height: 210px;
            transform: translateX(-50%);
            pointer-events: none;
            content: ' ';
            background-size: cover;
            background-image: url("data:image/svg+xml,%3Csvg width='210' height='209' viewBox='0 0 210 209' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.2' clip-path='url(%23clip0)'%3E%3Cpath d='M209.563 128.404L200.335 104.503L209.547 80.5887C210.572 77.9521 209.756 74.948 207.554 73.1685L187.564 57.0504L183.52 31.753C183.073 28.9693 180.87 26.7776 178.073 26.3327L152.653 22.3082L136.461 2.41884C134.677 0.222964 131.671 -0.572939 129.005 0.435205L104.992 9.61462L80.9621 0.44745C78.3127 -0.572939 75.3064 0.227046 73.5223 2.43108L57.3262 22.3246L31.9062 26.349C29.1091 26.7939 26.9067 28.9857 26.4596 31.7693L22.4157 57.0668L2.42587 73.1807C0.219359 74.9562 -0.580399 77.948 0.432627 80.5847L9.6442 104.498L0.428526 128.416C-0.580399 131.053 0.219359 134.045 2.42177 135.82L22.4116 151.938L26.4555 177.236C26.9026 180.019 29.105 182.211 31.9021 182.656L57.3221 186.681L73.5182 206.574C75.3146 208.782 78.3209 209.59 80.9744 208.558L104.992 199.391L129.021 208.558C129.784 208.843 130.584 208.99 131.371 208.99C133.299 208.99 135.202 208.141 136.478 206.574L152.674 186.681L178.094 182.656C180.891 182.211 183.093 180.019 183.54 177.236L187.584 151.938L207.574 135.82C209.776 134.045 210.576 131.041 209.563 128.404ZM187.162 106.841L195.574 128.653L177.319 143.359C176.059 144.379 175.219 145.816 174.969 147.408L171.281 170.485L148.093 174.154C146.493 174.403 145.049 175.24 144.024 176.493L129.272 194.66L107.354 186.289C106.591 186.015 105.792 185.856 104.992 185.856C104.192 185.856 103.392 185.999 102.642 186.289L80.7242 194.66L65.9472 176.493C64.9218 175.24 63.4782 174.403 61.8787 174.154L38.6898 170.485L35.0027 147.408C34.7525 145.816 33.9117 144.379 32.6526 143.359L14.3976 128.665L22.8094 106.854C23.3877 105.339 23.3877 103.666 22.7971 102.164L14.3935 80.3398L32.6485 65.6339C33.9076 64.6135 34.7484 63.1768 34.9986 61.585L38.6857 38.5079L61.8745 34.8386C63.4741 34.5896 64.9177 33.7529 65.9431 32.4999L80.7078 14.3451L102.625 22.7164C104.135 23.2919 105.816 23.2919 107.325 22.7164L129.243 14.3451L144.02 32.5121C145.045 33.7652 146.489 34.6019 148.088 34.8509L171.277 38.5202L174.964 61.5973C175.215 63.1891 176.055 64.6258 177.314 65.6462L195.569 80.352L187.158 102.164C186.583 103.666 186.583 105.339 187.162 106.841Z' fill='%23245675'/%3E%3Cpath d='M85.3075 52.2559C74.4554 52.2559 65.6212 61.0475 65.6212 71.8473C65.6212 82.6471 74.4554 91.4388 85.3075 91.4388C96.1596 91.4388 104.994 82.6471 104.994 71.8473C104.994 61.0475 96.1596 52.2559 85.3075 52.2559ZM85.3075 78.3778C81.686 78.3778 78.7454 75.4513 78.7454 71.8473C78.7454 68.2433 81.686 65.3168 85.3075 65.3168C88.929 65.3168 91.8696 68.2433 91.8696 71.8473C91.8696 75.4513 88.929 78.3778 85.3075 78.3778Z' fill='%23245675'/%3E%3Cpath d='M124.68 117.561C113.828 117.561 104.994 126.353 104.994 137.152C104.994 147.952 113.828 156.744 124.68 156.744C135.532 156.744 144.367 147.952 144.367 137.152C144.367 126.353 135.532 117.561 124.68 117.561ZM124.68 143.683C121.059 143.683 118.118 140.757 118.118 137.152C118.118 133.548 121.059 130.622 124.68 130.622C128.302 130.622 131.242 133.548 131.242 137.152C131.242 140.757 128.302 143.683 124.68 143.683Z' fill='%23245675'/%3E%3Cpath d='M141.623 53.485C138.682 51.3953 134.577 52.0728 132.477 54.9993L66.8556 146.426C64.7435 149.353 65.4243 153.438 68.3649 155.528C69.5215 156.352 70.8585 156.744 72.1833 156.744C74.2298 156.744 76.2518 155.789 77.5232 154.014L143.144 62.5869C145.257 59.6482 144.563 55.5748 141.623 53.485Z' fill='%23245675'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='210' height='209' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

            @media (max-width: 768px) {
                bottom: -60px;
                width: 120px;
                height: 120px;
            }
        }

        .fees__image-bg {
            height: 380px;

            @media (max-width: 768px) {
                height: 350px;
            }

            @media (max-width: 575px) {
                height: 250px;
            }
        }

        .fees__numbers {
            @media (max-width: 992px) {
                position: relative;
                top: 0;
                display: flex;
                color: $orange;
                transform: none;
                flex-wrap: wrap;
            }
        }
    }

    &.fees-02 {
        .is-mobile {
            display: none;

            @media (max-width: 992px) {
                display: flex;
            }
        }

        .is-desktop {
            @media (max-width: 992px) {
                display: none;
            }
        }

        .fees__numbers {
            margin-left: 20px;

            @media (max-width: 575px) {
                top: 20px;
                transform: none;
            }

            &-item {
                width: 100%;
            }
        }

        .button-wrapper {
            margin-top: 35px;
            margin-bottom: 0;
        }
    }

    &.-light-blue {
        background: rgba(36, 86, 117, 0.4);

        .fees__numbers {
            color: #fffffff;
        }
    }

    &__text {
        margin-bottom: 60px;
        font-size: 17px;
        font-weight: 300;
        line-height: 1.2;

        @media (max-width: 992px) {
            margin-bottom: 35px;
            font-size: 16px;
        }

        @media (max-width: 575px) {
            font-size: 14px;
        }
    }

    &__info {
        position: relative;
        height: 100%;

        @media (max-width: 992px) {
            height: auto;
        }
    }

    &__numbers {
        position: absolute;
        top: 50%;
        right: 0;
        color: #ffffff;
        transform: translateY(-50%);

        &-item {
            @media (max-width: 992px) {
                width: calc(100% / 2 - 20px);
            }

            @media (max-width: 575px) {
                width: 100%;
            }

            &:not(:last-child) {
                margin-bottom: 60px;

                @media (max-width: 992px) {
                    margin-bottom: 35px;
                }

                @media (max-width: 575px) {
                    margin-bottom: 25px;
                }
            }

            &__num {
                font-family: $primary-font;
                font-size: 80px;
                font-weight: 700;

                @media (max-width: 992px) {
                    font-size: 60px;
                }

                @media (max-width: 575px) {
                    font-size: 55px;
                }

                span {
                    font-size: 52px;
                }
            }

            &__text {
                max-width: 240px;
                font-size: 20px;
                font-weight: 700;
                line-height: 28px;

                @media (max-width: 575px) {
                    max-width: 50%;
                    font-size: 14px;
                    line-height: 1.2;

                    br {
                        display: none;
                        max-width: 75%;
                    }
                }
            }
        }
    }

    &__image-block {
        position: relative;
        display: flex;
        justify-content: center;
        height: 100%;
        flex-direction: column;

        @media (max-width: 992px) {
            height: auto;
        }
    }

    &__image {
        overflow: hidden;
        position: relative;
        border-radius: 6px;

        &-bg {
            display: block;
            width: 100%;
            height: 350px;
            background-size: cover;
            background-repeat: no-repeat;

            @media (max-width: 768px) {
                height: 300px;
            }

            @media (max-width: 575px) {
                height: 250px;
            }
        }

        span {
            z-index: 1;
            position: absolute;
            bottom: -10px;
            left: 10px;
            font-family: $primary-font;
            font-size: 100px;
            font-weight: 700;
            color: #ffffff;
            opacity: 0.3;

            @media (max-width: 768px) {
                font-size: 72px;
            }

            @media (max-width: 575px) {
                bottom: 5px;
                font-size: 48px;
            }
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(36, 86, 117, 0.6);
        content: ' ';
    }
}
