.info-block {
    padding-top: 160px;
    padding-bottom: 160px;

    @media (max-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1000px;
        margin: 0 auto;

        @media (max-width: 575px) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &__item {
        text-align: center;

        @media (max-width: 575px) {
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }

        &-img {
            height: 120px;
            margin-bottom: 24px;

            @media (max-width: 768px) {
                height: 90px;
                margin-bottom: 15px;
            }

            img {
                width: auto;
                height: 100%;
            }
        }

        &-title {
            font-family: $primary-font;
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
            text-transform: uppercase;
            color: $blue;

            @media (max-width: 768px) {
                font-size: 16px;
            }

            @media (max-width: 575px) {
                line-height: 1.2;
            }
        }
    }
}
