.statistics {
    padding-top: 80px;
    padding-bottom: 160px;
    border-radius: 6px;

    @media (max-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &.-orange {
        background: rgba(247, 147, 30, 0.3);
    }

    &__text {
        margin-bottom: 60px;
        font-size: 17px;
        font-weight: 300;
        line-height: 1.2;

        @media (max-width: 768px) {
            margin-bottom: 35px;
            font-size: 16px;
        }

        @media (max-width: 575px) {
            font-size: 14px;
        }
    }

    .-reverse {
        flex-direction: row-reverse;

        .statistics__image {
            right: inherit;
            left: 0;
        }

        .statistics__numbers {
            flex-direction: row-reverse;
        }
    }

    &__info {
        position: relative;
        height: 100%;

        @media (max-width: 992px) {
            margin-top: 35px;
        }
    }

    &__image {
        z-index: -1;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 280px;

        @media (max-width: 768px) {
            width: 180px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__numbers {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &-item {
            width: calc(100% / 2 - 40px);
            margin-bottom: 50px;
            color: $orange;

            @media (max-width: 768px) {
                margin-bottom: 35px;
            }

            @media (max-width: 575px) {
                margin-bottom: 25px;
            }

            &__num {
                margin-bottom: 10px;
                font-family: $primary-font;
                font-size: 100px;
                font-weight: 700;
                line-height: 90%;

                @media (max-width: 768px) {
                    font-size: 80px;
                }

                @media (max-width: 575px) {
                    font-size: 50px;
                }

                span {
                    font-size: 54px;
                    line-height: initial;

                    @media (max-width: 768px) {
                        font-size: 22px;
                    }
                }

                &.-text {
                    font-size: 42px;
                    text-transform: uppercase;

                    @media (max-width: 768px) {
                        font-size: 32px;
                    }

                    @media (max-width: 575px) {
                        font-size: 24px;
                    }
                }
            }

            &__text {
                font-size: 22px;
                font-weight: 700;
                line-height: 28px;

                @media (max-width: 575px) {
                    font-size: 16px;
                    line-height: 1.2;
                    font-weight: 300;
                }
            }
        }
    }
}
