.webinars {
    padding-top: 160px;
    padding-bottom: 80px;

    @media (max-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__list {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        margin-bottom: 60px;

        @media (max-width: 768px) {
            margin-bottom: 35px;
            flex-wrap: wrap;
        }
    }

    &__item {
        position: relative;
        width: calc(50% - 20px);
        color: #ffffff;
        border-radius: 6px;
        background-size: cover;
        mix-blend-mode: luminosity;

        @media (max-width: 768px) {
            width: 100%;
            margin-bottom: 25px;
        }

        &-info {
            z-index: 1;
            position: relative;
            padding: 56px 90px 40px;
        }

        &-date {
            margin-bottom: 29px;
            font-size: 32px;
            font-weight: 700;
            line-height: 37px;

            span {
                display: block;
            }
        }

        &-title {
            margin-bottom: 30px;
            font-size: 24px;
            font-weight: 700;
            line-height: 28px;
        }

        &-text {
            margin-bottom: 40px;
            font-size: 16px;
            line-height: 1.2;
        }

        &-link {
            color: #ffffff;
        }
    }
}
