+b.FOOTER.footer
  +e.top
    .container
      .row
        .col-12.col-sm-6.col-md-3
          +e.title BACKGROUND
          +b.UL.menu
            +e.LI.item
              +e.A.link(href="#") EFIC at a glance
            +e.LI.item
              +e.A.link(href="#") Objectives
            +e.LI.item
              +e.A.link(href="#") Bylaws
            +e.LI.item
              +e.A.link(href="#") FAQ

        .col-12.col-sm-6.col-md-3
          +e.title ORGANISATION
          +b.UL.menu
            +e.LI.item
              +e.A.link(href="#") Executive Board
            +e.LI.item
              +e.A.link(href="#") National Chapters
            +e.LI.item
              +e.A.link(href="#") IASP
            +e.LI.item
              +e.A.link(href="#") Executive Office

        .col-12.col-sm-6.col-md-3
          +e.title HOW WE WORK
          +b.UL.menu
            +e.LI.item
              +e.A.link(href="#") Committee Structure
            +e.LI.item
              +e.A.link(href="#") Operational Committees
            +e.LI.item
              +e.A.link(href="#") Core Committees
            +e.LI.item
              +e.A.link(href="#") Congress Committees
        .col-12.col-sm-6.col-md-3
          +e.title.-white EFIC Office
  +e.bottom
    .container
      .row
        .col-12.col-sm-6
          +e.copyright © European Pain Federation EFIC | Privacy Policy
        .col-12.col-sm-6
