+b.HEADER.header
  .container
    .row
      .col-12
        +e.A.logo(href="#")
          img(src="img/global/logo.svg", alt="")
        +e.BUTTON.btn-menu(type="button")
          span
          span
