.button {
    cursor: pointer;
    display: block;
    width: max-content;
    height: 65px;
    min-width: 250px;
    font-size: 22px;
    line-height: 65px;
    text-align: center;
    color: #ffffff;
    border: 1px solid;
    border-radius: 6px;
    transition: all 0.25s ease-in-out;

    &--orange {
        background-color: $orange;
        border-color: $orange;

        &:hover {
            color: $orange;
            background-color: transparent;
        }
    }

    &--blue {
        background-color: $blue;
        border-color: $blue;

        &:hover {
            color: $blue;
            background-color: transparent;
        }
    }
}

.button-wrapper {
    display: flex;
    align-items: center;

    .button {
        margin-right: 42px;
    }
}

.link {
    position: relative;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    color: $blue;

    &:hover::after {
        right: -60px;
    }

    &::after {
        position: absolute;
        content: '';
        display: block;
        width: 36px;
        height: 6px;
        transition: all 0.5s ease-in-out;
        background-image: url("data:image/svg+xml,%3Csvg width='37' height='8' viewBox='0 0 37 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36.3536 4.35355C36.5488 4.15829 36.5488 3.84171 36.3536 3.64645L33.1716 0.464466C32.9763 0.269204 32.6597 0.269204 32.4645 0.464466C32.2692 0.659728 32.2692 0.976311 32.4645 1.17157L35.2929 4L32.4645 6.82843C32.2692 7.02369 32.2692 7.34027 32.4645 7.53553C32.6597 7.7308 32.9763 7.7308 33.1716 7.53553L36.3536 4.35355ZM0 4.5H36V3.5H0V4.5Z' fill='%23245675'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: contain;
        right: -45px;
        top: 50%;
        transform: translateY(-50%);
    }
}
