.button {
    cursor: pointer;
    display: block;
    width: max-content;
    height: 65px;
    min-width: 250px;
    font-size: 22px;
    line-height: 65px;
    text-align: center;
    color: #ffffff;
    border: 1px solid;
    border-radius: 6px;
    transition: all 0.25s ease-in-out;

    &--orange {
        background-color: $orange;
        border-color: $orange;
    }

    &--blue {
        background-color: $blue;
        border-color: $blue;
    }
}

.button-wrapper {
    display: flex;
    align-items: center;

    .button {
        margin-right: 42px;
    }
}
