.footer {
    padding-top: 85px;
    padding-bottom: 20px;
    color: #ffffff;
    background-color: $blue;

    @media (max-width: 768px) {
        padding-top: 60px;
    }

    &__top {
        padding-bottom: 100px;

        @media (max-width: 768px) {
            padding-bottom: 40px;
        }
    }

    &__title {
        margin-bottom: 20px;
        font-family: $primary-font;
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
        color: $orange;

        @media (max-width: 768px) {
            font-size: 18px;
        }

        &.-white {
            color: #ffffff;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__copyright {
        font-size: 12px;
        font-weight: 300;
        line-height: 1.4;
        opacity: 0.8;

        @media (max-width: 575px) {
            margin-bottom: 25px;
            text-align: center;
        }

        a {
            color: #ffffff;
        }
    }

    &__contacts {
        &-item {
            font-size: 16px;
            font-weight: 300;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            a {
                font-weight: 700;
                color: #ffffff;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media (max-width: 768px) {
        margin-bottom: 40px;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__link {
        cursor: pointer;
        display: block;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.4;
        color: #ffffff;
        opacity: 0.8;

        &:hover {
            color: #ffffff;
            opacity: 1;
            transition: opacity 0.5 ease-in-out;
        }
    }
}

.socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;

    @media (max-width: 575px) {
        justify-content: center;
        margin-left: 0;
        padding-left: 0;
    }

    &__item {
        &:not(:first-child) {
            margin-left: 20px;
        }

        &-link {
            img {
                width: 32px;
                height: 32px;
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }
}
