@import '../../local_modules/normalize.css/normalize';

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background: #e5e5e5;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1080px;
    }
}
