@import '../../local_modules/normalize.css/normalize';

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background: #fffef3;
    color: $dark;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1080px;
    }
}

.section {
    &__title {
        color: $blue;
        font-family: $primary-font;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        margin-bottom: 24px;
        text-transform: uppercase;
    }
}
