extends common/layout
include common/mixins.pug

block content
  +b.DIV.main
    include blocks/banner
    include blocks/info-block
    include blocks/experts
    include blocks/webinars
    include blocks/membership
    include blocks/who
    include blocks/plans
    include blocks/about
    include blocks/partners
