// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

// Colors

$dark: #303030;
$orange: #f7931e;
$blue: #245675;
$primary-font: 'Montserrat';
