+b.SECTION#about.about.section
  .container
    .row
      .col-12
        h2.section__title About the
          br
          | European Pain
          br
          | Federation EFIC
      .col-12
        +e.introtext-wrap
          +e.introtext For over 25 years, the European Pain Federation has brought together the European pain science community to advance education, research, and clinical management of pain. The chapters of the European Pain Federation represent around 20,000 physicians, researchers, nurses, physiotherapists, psychologists and other healthcare professionals from 37 countries across Europe.
    .row
      +about({
        number: "1",
        name: "EDUCATION",
        img: "about/education.svg",
        text: "<p>We develop educational programs to improve pain knowledge amongst healthcare practitioners and researchers.</p><p>We organise a scientific congress on pain, showcasing the latest research and clinical management approaches.</p><p>We creating and disseminating evidence-based guidance for clinicians.</p>"
      })
      +about({
        number: "2",
        name: "RESEARCH",
        img: "about/research.svg",
        text: "<p>We engage in research projects and disseminating research funding, in order to advance the scientific understanding of pain.</p><p>We publish a scientific journal, the European Journal of Pain, to disseminate the latest research findings and an evidence-based approach to pain medicine.</p>"
      })
      +about({
        number: "3",
        name: "ADVOCACY",
        img: "about/advocacy.svg",
        text: "<p>We raise awareness of the importance of pain, including its management, treatment and prevention, amongst patients and the general public.</p><p>We campaign to improve policies that affect pain and to increase funding for pain in public research program.</p>"
      })
