+b.SECTION.about.section
  .container
    .row
      .col-12
        h2.section__title About
          br
          | European Pain
          br
          | Federation
      .col-12
        +e.introtext-wrap
          +e.introtext For over 25 years, the European Pain Federation has brought together the European pain science community to advance education, research, and clinical management of pain. The chapters of the European Pain Federation represent around 20,000 physicians, researchers, nurses, physiotherapists, psychologists and other healthcare professionals from 37 countries across Europe.
          +e.introtext The European Pain Federation invites individual healthcare professionals and researchers to join the European Pain Federation Academy, where individuals can benefit from a wide variety of professional development benefits around the subject of pain education. Enjoy high-quality educational materials centered around the EFIC educational programme and based on the four key EFIC curricula.

    .row
      +about({
        number: "1",
        name: "EDUCATION",
        img: "about/education.svg",
        text: "<p><b>Pain Schools:</b> We organise ‘EFIC Pain Schools’, bringing together leading educators to provide study programs across Europe.</p><p><b>Examinations:</b> We have developed curricula on pain medicine and pain physiotherapy and accompanying examinations. The European Diploma in Pain Medicine (EDPM) and the European Diploma in Pain  Physiotherapy (EDPP) examinations take place once a year.</p><p><b>Online Education Platform:</b> We have launched the EFIC Education Platform, an online video platform featuring a comprehensive selection of lectures and presentations recorded at our biennial congresses and pain schools. This will eventually evolve into an advanced educational platform with modules developed to facilitate learning around our curricula.</p>"
      })
      +about({
        number: "2",
        name: "RESEARCH",
        img: "about/research.svg",
        text: "<p><b>Grants and prizes:</b> We offer grants and prizes to reward the pain research community. The best basic and clinical research papers in our scientific journal are awarded at our scientific congress. We also organise the EFIC-GrünenthalGrant, a large funding programme for young researchers.</p><p><b>Research consortia:</b> We take part in research consortia, including in European Commission projects such as the Innovative Medicines Initiative and Horizon 2020/Framework Programme. Starting in 2018 we are actively engaged in the IMI-PainCare consortia.</p><p><b>Clinical task forces:</b> These are composed of experts in their fields, representing our multidisciplinary community, and following robust methodological standards.</p>"
      })
      +about({
        number: "3",
        name: "ADVOCACY",
        img: "about/advocacy.svg",
        text: "<p><b>Societal Impact of Pain:</b> In partnership with Grünenthal and Pain Alliance Europe, we organise meetings with politicians, develop communication materials and identify policy interventions.</p><p><b>European Year Against Pain:</b> We take part in the IASP Global Year Against Pain campaign, known in Europe as the European Year Against Pain.</p><p><b>European Pain Management:</b> We published the book ´European Pain Management’, taking stock of the experiences in pain management of the 37 countries of the European Pain Federation EFIC and to call for a more comprehensive approach to pain management in Europe. For more information on where to find the book please visit our website.</p>"
      })
