.banner
  .banner__bg(style="background-image: url('img/banner/banner.jpg')")
    .container
      .banner__wrap
        .banner__info
          .banner__text Join World's Largest Pain
            br
            | Management Community
            br
            | 20,000 healthcare professionals from 37 countries
          A.button.button--orange(href="#") Join us
