+b.SECTION#experts.experts.section
  .container
    .row
      .col-12
        h2.section__title Our 20 Experts
        +e.description
          p The EFIC Academy is guided by the highest level of European pain education expertise.
          p The following educators serve on the EFIC Academy Board and contribute to the projects and tools that Academy members benefit from.
    .row
      .col-lg-2._hide
      .col-md-12.col-lg-10
        +e.wrap
          .swiper-container.expert-slider
            .swiper-wrapper
              +expert({
                name: "Dominic Aldington",
                position: "The Pain Team <span>Physicians</span>",
                img: "experts/01.jpg",
                link: "https://www.thepainteam.com/our-team/dr-dominic-aldington"
              })
              +expert({
                name: "Sam H Ahmedzai",
                position: "The University of Sheffield <span>Physicians</span>",
                img: "experts/02.jpg",
                link: "https://mhs.group.shef.ac.uk/members/sam-ahmedzai/"
              })
              +expert({
                name: "Emma	Briggs",
                position: "King’s College London <span>Nurses</span>",
                img: "experts/03.jpg",
                link: "https://www.kcl.ac.uk/people/emma-briggs"
              })
              +expert({
                name: "Kirsty	Bannister",
                position: "King’s College London <span>Physicians</span>",
                img: "experts/04.jpg",
                link: "https://www.kcl.ac.uk/people/kirsty-bannister"
              })
              +expert({
                name: "An	De Groef",
                position: "Antwerp University, Belgium <span>Physiotherapists</span>",
                img: "experts/05.jpg",
                link: "https://www.uantwerpen.be/nl/personeel/an-degroef/"
              })
              +expert({
                name: "Petra Mandysova",
                position: "University Pardubice <span>Nurses</span>",
                img: "experts/06.jpg",
                link: "https://fzs.upce.cz/en/fzs/researcher-profile-mandysova-petra"
              })
            +e.slider-nav__wrap
              a.button.button--blue(href="#") View Full list
              +e.slider-nav
                .slidePrev-btn
                .slideNext-btn
