+b.SECTION#experts.experts.section
  .container
    .row
      .col-12
        h2.section__title Our 20 Experts
        +e.description
          p The EFIC Academy is guided by the highest level of European pain education expertise.
          p The following educators serve on the EFIC Academy Board and contribute to the projects and tools that Academy members benefit from.
    .row
      .col-lg-2._hide
      .col-md-12.col-lg-10
        +e.wrap
          .swiper-container.expert-slider
            .swiper-wrapper
              +expert({
                name: "Dominic Aldington",
                position: "The Pain Team Physicians",
                img: "experts/01.jpg",
                link: "https://www.thepainteam.com/our-team/dr-dominic-aldington"
              })
              +expert({
                name: "Sam H Ahmedzai",
                position: "The University of Sheffield Physicians",
                img: "experts/02.jpg",
                link: "https://mhs.group.shef.ac.uk/members/sam-ahmedzai/"
              })
              +expert({
                name: "Emma	Briggs",
                position: "King’s College London Nurses",
                img: "experts/03.jpg",
                link: "https://www.kcl.ac.uk/people/emma-briggs"
              })
              +expert({
                name: "Kirsty	Bannister",
                position: "King’s College London Physicians",
                img: "experts/04.jpg",
                link: "https://www.kcl.ac.uk/people/kirsty-bannister"
              })
              +expert({
                name: "An	De Groef",
                position: "Antwerp University, Belgium Physiotherapists",
                img: "experts/05.jpg",
                link: "https://www.uantwerpen.be/nl/personeel/an-degroef/"
              })
              +expert({
                name: "Petra Mandysova",
                position: "University Pardubice Nurses",
                img: "experts/06.jpg",
                link: "https://fzs.upce.cz/en/fzs/researcher-profile-mandysova-petra"
              })
              +expert({
                name: "Daniele Battelli",
                position: "Istituto per la Sicurezza Sociale Hospital in Cailungo Physicians",
                img: "experts/Battelli.jpg",
                link: "https://www.linkedin.com/in/daniele-battelli-39a707b/"
              })
              +expert({
                name: "Mike Bennett",
                position: "University of Leeds Physicians",
                img: "experts/Bennett.jpg",
                link: "https://medicinehealth.leeds.ac.uk/medicine/staff/122/professor-mike-bennett"
              })
              +expert({
                name: "Arun Bhaskar",
                position: "Imperial College Healthcare NHS Trust, London Physicians",
                img: "experts/Bennett.jpg",
                link: "https://www.imperial.nhs.uk/consultant-directory/arun-bhaskar"
              })
            +e.slider-nav__wrap
              a.button.button--blue(href="#") View Full list
              +e.slider-nav
                .slidePrev-btn
                .slideNext-btn
