+b.SECTION#experts.experts.section
  .container
    .row
      .col-12
        h2.section__title Our EFIC ACADEMY EXPERTS
        +e.description
          p The EFIC Academy is guided by the highest level of European pain education expertise.
          p The following educators serve on the EFIC Academy Board and contribute to the projects and tools that Academy members benefit from.
    .row
      .col-lg-2._hide
      .col-md-12.col-lg-10
        +e.wrap
          .swiper-container.expert-slider
            .swiper-wrapper
              +expert({
                name: "Dominic Aldington",
                position: "The Pain Team <span>Physicians</span>",
                img: "experts/aldington_dominic.jpg",
                link: "https://www.thepainteam.com/our-team/dr-dominic-aldington"
              })
              +expert({
                name: "Andrea Truini",
                position: "Sapienza University <span>Physicians</span>",
                img: "experts/andrea_truini.jpg",
                link: "https://phd.uniroma1.it/dottorati/cartellaDocumentiWeb/631a0bab-e61c-426a-96ae-14c59686ca0f.pdf"
              })
              +expert({
                name: "Andreas Kopf",
                position: "Charité Campus <span>Physicians</span>",
                img: "experts/andreas_kopf.jpg",
                link: "https://anaesthesie.charite.de/metas/person/person/address_detail/kopf-1/"
              })
              +expert({
                name: "Arun Bhaskar",
                position: "Imperial College Healthcare NHS Trust, London <span>Physicians</span>",
                img: "experts/arun_bhaskar.jpg",
                link: "https://anaesthesie.charite.de/metas/person/person/address_detail/kopf-1/"
              })
              +expert({
                name: "Asbjørn Mohr Drewes",
                position: "Aalborg University Hospital <span>Physicians</span>",
                img: "experts/asbjorn_drewes.jpg",
                link: "https://vbn.aau.dk/en/persons/107219"
              })
              +expert({
                name: "Bart	Morlion",
                position: "KU Leuven <span>Physicians</span>",
                img: "experts/bart_morlion.jpg",
                link: "https://www.kuleuven.be/wieiswie/en/person/00044030"
              })
              +expert({
                name: "Brona Fullen",
                position: "University College Dublin <span>Physiotherapists</span>",
                img: "experts/brona_fullen.jpg",
                link: "https://people.ucd.ie/brona.fullen"
              })
              +expert({
                name: "Daniel Ciampi de Andrade",
                position: "Hospital das Clínicas, Universidade de São Paulo <span>Physicians</span>",
                img: "experts/daniel_ciampi_de_andrade.jpg",
                link: "https://www.linkedin.com/in/danielc3/?originalSubdomain=br"
              })
              +expert({
                name: "Daniele Battelli",
                position: "Istituto per la Sicurezza Sociale Hospital in Cailungo <span>Physicians</span>",
                img: "experts/daniele_battelli.jpg",
                link: "https://www.linkedin.com/in/daniele-battelli-39a707b/"
              })
              +expert({
                name: "An De Groef",
                position: "Antwerp University, Belgium<span>Physiotherapists</span>",
                img: "experts/de_groef_an.jpg",
                link: "https://www.uantwerpen.be/nl/personeel/an-degroef/"
              })
              +expert({
                name: "Edmund Keogh",
                position: "University of Bath<span>Psychologists</span>",
                img: "experts/edmund_keogh.jpg",
                link: "https://researchportal.bath.ac.uk/en/persons/edmund-keogh"
              })
              +expert({
                name: "Stefan Elbers",
                position: "University of Applied Sciences Utrecht, The Netherlands<span>Physiotherapists</span>",
                img: "experts/elbers_stefan.jpg",
                link: "https://www.internationalhu.com/research/researchers/stefan-elbers"
              })
              +expert({
                name: "Elia	Valentini",
                position: "Essex University<span>Psychologists</span>",
                img: "experts/elia_valentini.jpg",
                link: "https://www.essex.ac.uk/people/valen80000/elia-valentini"
              })
              +expert({
                name: "Emma	Briggs",
                position: "King’s College London<span>Nurses</span>",
                img: "experts/emma_briggs.jpg",
                link: "https://www.kcl.ac.uk/people/emma-briggs"
              })
              +expert({
                name: "Esther Pogatzki-Zahn",
                position: "University Hospital Muenster<span>Physicians</span>",
                img: "experts/esther_pogatzki_zahn.jpg",
                link: "https://www.ukm.de/index.php?id=anaesthesie_arbeitsgruppen3280"
              })
              +expert({
                name: "Patrice Forget",
                position: "University of Aberdeen<span>Physicians</span>",
                img: "experts/forget_patrice.jpg",
                link: "https://www.abdn.ac.uk/iahs/research/epidemiology/profiles/patrice.forget"
              })
              +expert({
                name: "Martin Galligan",
                position: "The Royal Marsden School<span>Nurses</span>",
                img: "experts/galligan_martin.jpg",
                link: "https://www.royalmarsdenschool.ac.uk/why-study-royal-marsden/about-school/staff-profiles/academic-team/martin-galligan"
              })
              +expert({
                name: "Geert Dom",
                position: "The Royal Marsden School<span>Nurses</span>",
                img: "experts/geert_dom.jpg",
                link: "https://www.royalmarsdenschool.ac.uk/why-study-royal-marsden/about-school/staff-profiles/academic-team/martin-galligan"
              })
              +expert({
                name: "Hani	Hattar",
                position: "VSpeästerviks Hospital, Sweden<span>Physicians</span>",
                img: "experts/hani_hattar.jpg",
                link: ""
              })
              +expert({
                name: "Harriet Wittink",
                position: "Utrecht University<span>Physiotherapists</span>",
                img: "experts/harriet_wittink.jpg",
                link: "https://www.internationalhu.com/research/researchers/harriet-wittink"
              })
              +expert({
                name: "Jonathan	Hill",
                position: "Keele University<span>Physiotherapists</span>",
                img: "experts/hill_jonathan.jpg",
                link: "https://www.keele.ac.uk/pcsc/ourpeople/jonathanhill/"
              })
              +expert({
                name: "Frank Huygen",
                position: "Erasmus MC<span>Physicians</span>",
                img: "experts/huygen_frank.jpg",
                link: "https://www.erasmusmc.nl/nl-nl/patientenzorg/zorgverleners/huygen-frank"
              })
              +expert({
                name: "Jan Van Zundert",
                position: "ZOL Genk<span>Physicians</span>",
                img: "experts/jan_van_zundert.jpg",
                link: "https://www.zol.be/zol-arts/prof-dr-jan-van-zundert"
              })
              +expert({
                name: "Kirsty Bannister",
                position: "King’s College London<span>Physicians</span>",
                img: "experts/kirsty_bannister.jpg",
                link: "https://www.kcl.ac.uk/people/kirsty-bannister"
              })
              +expert({
                name: "Magdalena Kocot-Kępska",
                position: "Jagiellonian University Medical College, Kraków<span>Physicians</span>",
                img: "experts/magdalena_kocot_kepska.jpg",
                link: "https://www.linkedin.com/in/magdalena-kocot-k%C4%99pska-ab855335/?originalSubdomain=pl"
              })
              +expert({
                name: "Emelien Lauwerier",
                position: "Ghent University<span>Psychologists</span>",
                img: "experts/lauwerier_emelien.jpg",
                link: "https://ghplab.ugent.be/meet-the-team/emelien-lauwerier"
              })
              +expert({
                name: "Luis	García Larrea",
                position: "CRNL<span>Physicians</span>",
                img: "experts/luis_garcia_larrea.jpg",
                link: "https://www.crnl.fr/en/user/268"
              })
              +expert({
                name: "Chris Main",
                position: "Keele University<span>Psychologists</span>",
                img: "experts/main_chris.jpg",
                link: "https://www.keele.ac.uk/pcsc/ourpeople/chrismain/"
              })
              +expert({
                name: "Anneleen	Malfliet",
                position: "VUB Brussel<span>Physiotherapists</span>",
                img: "experts/malfliet_anneleen.jpg",
                link: "https://www.linkedin.com/in/anneleen-malfliet-0a6736b0/?originalSubdomain=be"
              })
              +expert({
                name: "Mike	Bennett",
                position: "University of Leeds<span>Physicians</span>",
                img: "experts/mike_bennet.jpg",
                link: "https://medicinehealth.leeds.ac.uk/medicine/staff/122/professor-mike-bennett"
              })
              +expert({
                name: "Morten Høgh",
                position: "Aalborg University<span>Physiotherapists</span>",
                img: "experts/morten_hoegh.jpg",
                link: "https://vbn.aau.dk/en/persons/135086"
              })
              +expert({
                name: "Nadja Nestler",
                position: "Paracelsus Private Medical University<span>Nurses</span>",
                img: "experts/nadja_nestler.jpg",
                link: "https://sqquid.pmu.ac.at/fis/suchen.person_publikationen?sprache_in=en&person_id_in=300423&sortierung_id_in=1"
              })
              +expert({
                name: "Nevenka Krcevski Skvarc",
                position: "University Maribor, Slovenia<span>Physicians</span>",
                img: "experts/nevenka_krcevski_skvarc.jpg",
                link: "https://www.linkedin.com/in/nevenka-krcevski-skvarc-922bb214/?originalSubdomain=si"
              })
              +expert({
                name: "Patricia	Schofield",
                position: "Sheffield Hallam University<span>Nurses</span>",
                img: "experts/patricia_schofield.jpg",
                link: "https://www.linkedin.com/in/pat-schofield-7181231b3/?originalSubdomain=uk"
              })
              +expert({
                name: "Petra Mandysova",
                position: "University Pardubice<span>Nurses</span>",
                img: "experts/petra_mandysova.jpg",
                link: "https://fzs.upce.cz/en/fzs/researcher-profile-mandysova-petra"
              })
              +expert({
                name: "Rianne van Boekel",
                position: "Radboud University Medical Center<span>Nurses</span>",
                img: "experts/rianne_van_boekel.jpg",
                link: "https://www.linkedin.com/in/regina-rianne-van-boekel-phd-rn-7222a715/?originalSubdomain=nl"
              })
              +expert({
                name: "Robert Smeets",
                position: "Maastricht University<span>Physiotherapists</span>",
                img: "experts/rob_smeets.jpg",
                link: "https://cris.maastrichtuniversity.nl/en/persons/rob-smeets"
              })
              +expert({
                name: "Sam H Ahmedzai",
                position: "The University of Sheffield<span>Physicians</span>",
                img: "experts/sam_ahmedzai.jpg",
                link: "https://mhs.group.shef.ac.uk/members/sam-ahmedzai/"
              })
              +expert({
                name: "Samer Nabil Narouze",
                position: "Western Reserve Hospital<span>Physicians</span>",
                img: "experts/samer_narouze.jpg",
                link: "https://www.samernarouze.com/"
              })
              +expert({
                name: "Harbinder Kaur Sandhu",
                position: "University of Warwick<span>Psychologists</span>",
                img: "experts/sandhu_harbinder.jpg",
                link: "https://warwick.ac.uk/fac/sci/med/staff/sandhu/"
              })
              +expert({
                name: "Serge Perrot",
                position: "HU Paris Centre Site Cochin APHP<span>Physicians</span>",
                img: "experts/serge_perrot.jpg",
                link: "https://www.aphp.fr/offre-de-soin/medecin/554556/021/UF_510"
              })
              +expert({
                name: "Silviu Brill",
                position: "Tel-Aviv Medical Center<span>Physicians</span>",
                img: "experts/silviu_brill.jpg",
                link: "https://www.tasmc.org.il/sites/en/Personnel/Pages/Brill-Silviu.aspx"
              })
              +expert({
                name: "Anne	Söderlund",
                position: "Mälardalen University Sweden<span>Physiotherapists</span>",
                img: "experts/soderlund_anne.jpg",
                link: "https://www.mdh.se/en/malardalen-university/staff?id=asd04"
              })
              +expert({
                name: "Tasha Stanton",
                position: "University of South Australia<span>Physiotherapists</span>",
                img: "experts/stanton_tasha.jpg",
                link: "https://people.unisa.edu.au/tasha.stanton"
              })
              +expert({
                name: "Tim Vanuytsel",
                position: "UZ Leuven<span>Physicians</span>",
                img: "experts/tim_vanuytsel.jpg",
                link: "https://www.uzleuven.be/en/physicians-and-specialists/tim-vanuytsel"
              })
              +expert({
                name: "Ulrike Kaiser",
                position: "Universitäts SchmerzCentrum – USC<span>Psychologists</span>",
                img: "experts/ulrike_kaiser.jpg",
                link: "https://www.uniklinikum-dresden.de/de/das-klinikum/universitaetscentren/usc/studien-projekte/vapain/vapain_eng"
              })
              +expert({
                name: "Jeanine Verbunt",
                position: "Maastricht University<span>Physiotherapists</span>",
                img: "experts/verbunt_jeanine.jpg",
                link: "https://cris.maastrichtuniversity.nl/en/persons/jeanine-verbunt"
              })
              +expert({
                name: "Victor Mayoral Rojals",
                position: "Hospital Universitari de Bellvitge<span>Physicians</span>",
                img: "experts/victor_mayoral_rojals.jpg",
                link: "https://www.linkedin.com/in/v%C3%ADctor-mayoral-rojals-24500125/?originalSubdomain=es"
              })
              +expert({
                name: "Johan Vlaeyen",
                position: "KU Leuven<span>Psychologists</span>",
                img: "experts/vlaeyen_johan.jpg",
                link: "https://ppw.kuleuven.be/ogp/staffpagina/00006196"
              })
              +expert({
                name: "Kevin Vowles",
                position: "Queens University Belfast<span>Psychologists</span>",
                img: "experts/vowles_kevin.jpg",
                link: "https://pure.qub.ac.uk/en/persons/kevin-vowles"
              })
              +expert({
                name: "Winfried	Meissner",
                position: "University of Jena<span>Physicians</span>",
                img: "experts/winfried_meissner.jpg",
                link: "http://pain-out.med.uni-jena.de/Winfried_Meissner"
              })
            +e.slider-nav__wrap
              a.button.button--blue(href="#") View Full list
              +e.slider-nav
                .slidePrev-btn
                .slideNext-btn
