+b.SECTION.experts.section
  .container
    .row
      .col-12
        h2.section__title Our 20 Experts
        +e.description
          p The EFIC Academy is guided by the highest level of European pain education expertise.
          p The following educators serve on the EFIC Academy Board and contribute to the projects and tools that Academy members benefit from.
    .row
      .col-lg-2._hide
      .col-md-12.col-lg-10
        +e.wrap
          .swiper-container.expert-slider
            .swiper-wrapper
              +expert({
                name: "Dominic Aldington",
                position: "The Pain Team Physicians",
                img: "experts/01.jpg"
              })
              +expert({
                name: "Sam H Ahmedzai",
                position: "The University of Sheffield Physicians",
                img: "experts/02.jpg"
              })
              +expert({
                name: "Emma	Briggs",
                position: "King’s College London Nurses",
                img: "experts/03.jpg"
              })
              +expert({
                name: "Kirsty	Bannister",
                position: "King’s College London Physicians",
                img: "experts/04.jpg"
              })
              +expert({
                name: "An	De Groef",
                position: "Antwerp University, Belgium Physiotherapists",
                img: "experts/05.jpg"
              })
              +expert({
                name: "Petra Mandysova",
                position: "University Pardubice Nurses",
                img: "experts/06.jpg"
              })
              +expert({
                name: "Dominic Aldington",
                position: "The Pain Team Physicians",
                img: "experts/01.jpg"
              })
              +expert({
                name: "Sam H Ahmedzai",
                position: "The University of Sheffield Physicians",
                img: "experts/02.jpg"
              })
              +expert({
                name: "Emma	Briggs",
                position: "King’s College London Nurses",
                img: "experts/03.jpg"
              })
              +expert({
                name: "Kirsty	Bannister",
                position: "King’s College London Physicians",
                img: "experts/04.jpg"
              })
              +expert({
                name: "An	De Groef",
                position: "Antwerp University, Belgium Physiotherapists",
                img: "experts/05.jpg"
              })
              +expert({
                name: "Petra Mandysova",
                position: "University Pardubice Nurses",
                img: "experts/06.jpg"
              })
            +e.slider-nav__wrap
              a.button.button--blue(href="#") View Full list
              +e.slider-nav
                .slidePrev-btn
                .slideNext-btn
