+b.SECTION.experts.section
  .container
    .row
      .col-12
        h2.section__title Our 20 Experts
        +e.description
          p The EFIC Academy is guided by the highest level of European pain education expertise.
          p The following educators serve on the EFIC Academy Board and contribute to the projects and tools that Academy members benefit from.
    .row
      .col-md-2._hide
      .col-md-10
        +e.wrap 12
