+b.SECTION#faq.faq.section
  .container
    .row
      .col-12
        h2.section__title Faq
    .row
      .col-12
        +e.wrap
          .faq-drawer
            input#faq-drawer.faq-drawer__trigger(type="checkbox")
            label.faq-drawer__title(for="faq-drawer") General
            .faq-drawer__content-wrapper
              .faq-drawer__content
                p
                  strong What is EFIC?
                  |
                  | The European Pain Federation EFIC is a multidisciplinary professional organization in the field of pain research and medicine, consisting of the 37 European Chapters of the International Association for the Study of Pain (IASP) and representing some 20,000 physicians, nurses, scientists, psychologists, physiotherapists, and other health care professionals involved in pain medicine.
                p
                  strong Why ‘EFIC’ when your full name is the European Pain Federation?
                  |
                  | ‘EFIC’ refers to our previous name, ‘the European Federation of IASP Chapters’. We felt that this name was confusing, as it did not refer to our primary interest; pain. Our name is the European Pain Federation, though we maintain the old acronym EFIC, as many people knew us previously as EFIC.
                p
                  strong What are the main aims of the European Pain Federation EFIC?
                  |
                  | The Federation’s aims are to advance research, education, clinical management and professional practice related to pain, and to serve as an authoritative, scientific resource concerning policy issues related to pain and its management.
                p
                  strong How do I become a member of the European Pain Federation EFIC?
                  |
                  | Every member of a European IASP Chapter is automatically also a member of the European Pain Federation EFIC. Those who do not have an IASP Chapter in their country, or who wish to benefit from a direct relationship with the Federation can look into becoming a member of the
                  |
                  |
                  a(href="https://europeanpainfederation.eu/efic-academy/" target="_blank" rel="noopener") EFIC Academy.
                p
                  strong What is the International Association for the Study of Pain?
                  |
                  | The International Association for the Study of Pain (IASP) is the global professional forum for science, practice, and education in the field of pain. The European Pain Federation represents IASP Chapters in Europe. Further information can be found
                  |
                  a(href="http://www.iasp-pain.org/") here
                  | .
          .faq-drawer
            input#faq-drawer-2.faq-drawer__trigger(type="checkbox")
            label.faq-drawer__title(for="faq-drawer-2") National Chapters
            .faq-drawer__content-wrapper
              .faq-drawer__content
                p
                  strong What are the national Chapters?
                  |
                  | Details of all national Chapters of the European Pain Federation EFIC can be found
                  |
                  a(href="https://www.europeanpainfederation.eu/about-efic/national-chapters-of-efic/") here
                  | .
                p
                  strong How can I form a European Pain Federation EFIC Chapter?
                  |
                  | To form a national Chapter you must first?
                  a(href="http://www.iasp-pain.org/Content/NavigationMenu/Chapters22/Form_a_Chapter/default.htm") contact IASP
                  | &amp;nbsp;to become an IASP Chapter. Once this has been established you can send an official letter to the European Pain Federation EFIC requesting membership as a Chapter.

          .faq-drawer
            input#faq-drawer-3.faq-drawer__trigger(type="checkbox")
            label.faq-drawer__title(for="faq-drawer-3") EFIC Academy
            .faq-drawer__content-wrapper
              .faq-drawer__content
                p
                  b What is the European Pain Federation Academy?
                  |
                  | The European Pain Federation Academy is our flag-ship education programme bringing together everyone who wishes to advance their competences through the Federation’s comprehensive multi-professional education programme. Membership of the EFIC Academy allow you to access our most comprehensive educational projects and receive discounts on various events. You can find out more about the EFIC Academy and apply for membership
                  |
                  |
                  a(href="https://europeanpainfederation.eu/efic-academy/") here
                  | .
                p
                  b Where can I view the terms of the EFIC Academy?
                  | The terms can be viewed here:&nbsp;
                  a(href="https://europeanpainfederation.eu/efic-academy/benefits-terms/") https://europeanpainfederation.eu/efic-academy/benefits-terms/
                p
                  b Which medical disciplines and healthcare professions can apply for EFIC Academy Membership?
                  |
                  | All span i individual healthcare professionals and researchers looking for high quality pain span education provided by leading European educators span are invited to join the EFIC Academy. At present, we have dedicated content streams targeted at physicians, physiotherapists psychologists and nurses.
                p
                  b What will I receive as an Academy Member?
                  |
                p Current benefits include:
                ul
                  li Free attendance to the EFIC Virtual Pain Education Summit of the year in which the membership is active.
                  li Reduced fees for the EFIC Congress “Pain in Europe”. A 10% reduction of the registration fee (excluded VAT) is available to all EFIC Academy members.
                  li Reduced fees for the EFIC exams. A 25% reduction of the examination fees (excluded VAT) is available to all EFIC Academy members.
                  li Open access to the highest quality online pain education material.
                  li The possibility of learning from and studying with your peers and with leading European educators.
                p
                  b What is the price of EFIC Academy membership?
                  |
                  | The price for EFIC Academy membership and all benefits provided can be found here:
                  |
                  a(href="https://europeanpainfederation.eu/efic-academy/benefits-terms/") https://europeanpainfederation.eu/efic-academy/benefits-terms/
                  |. All prices for EFIC Academy membership are annual payments in € EUR, including tax where applicable.

          .faq-drawer
            input#faq-drawer-4.faq-drawer__trigger(type="checkbox")
            label.faq-drawer__title(for="faq-drawer-4") EFIC Virtual Pain Education Summit
            .faq-drawer__content-wrapper
              .faq-drawer__content
                p
                  strong Is the Virtual Pain Education Summit a scientific congress?
                  |
                  | The
                  a(href="https://europeanpainfederation.eu/virtual-pain-education-summit/" target="_blank" rel="noopener") Virtual Pain Education Summit
                  | brings together the most recognised experts in the field of pain science and education to exchange knowledge, ideas and the latest advances in the field. It is, above all, an educational meeting, organised to meet the current educational needs of the pain community. The Programme is based on and supports the EFIC education curricula.
                p
                  strong Which medical disciplines and healthcare professions are the target audience of the virtual summit?
                  |
                  | The summit offers four educational tracks dedicated to Pain Medicine, Physiotherapy, Psychology and Nursing. Additionally, interprofessional sessions on a range of engaging topics as well as Topical Lectures on current hot topics are included. The Pain Medicine track is relevant for all medical doctors involved in the management of pain.
                p
                  strong I’m a physiotherapist; is any of the content of the virtual summit relevant for me apart from the physiotherapists track?
                  |
                  | One of the main goals of the summit is to promote interprofessional learning, as the European Pain Federation strongly believes that all healthcare professionals benefit from expanding their knowledge on the latest advances in other fields. Therefore, we encourage attendees to explore sessions outside of their own educational track.&nbsp;&nbsp;
                p
                  strong I’m a doctor; why would I attend an event that is marketed at non-doctors?
                  |
                  | The European Pain Federation EFIC is dedicated to multiprofessional pain management and the biopsychosocial model of pain. While we provide a track dedicated to physicians, we encourage all professionals to work and learn together for the benefit of patients.

          .faq-drawer
            input#faq-drawer-5.faq-drawer__trigger(type="checkbox")
            label.faq-drawer__title(for="faq-drawer-5") EFIC Congress — Pain in Europe
            .faq-drawer__content-wrapper
              .faq-drawer__content
                p
                  strong What is the European Pain Federation EFIC Congress?
                  |
                  | The biennial European Pain Federation EFIC Congress, known also as ‘Pain in Europe’ is the most important international scientific forum on pain issues in Europe. Information on the next congress can be found:
                  |
                  a(href="https://efic-congress.org/") here
                  | .

          .faq-drawer
            input#faq-drawer-6.faq-drawer__trigger(type="checkbox")
            label.faq-drawer__title(for="faq-drawer-6") European Journal of Pain
            .faq-drawer__content-wrapper
              .faq-drawer__content
                p
                  strong What is the European Journal of Pain?
                  |
                  | The European Journal of Pain (EJP) is the official scientific journal of the European Pain Federation EFIC published by Wiley-Blackwell. Members of the Federation’s Chapters and congress attendees&nbsp;can access the journal on-line.
                p
                  strong How can I submit a scientific paper for publication in the EJP?
                  |
                  | Author information for submission of papers can be found&nbsp;
                  a(href="http://onlinelibrary.wiley.com/journal/10.1002/(ISSN)1532-2149/homepage/ForAuthors.html") here
                  | .
                p
                  strong How can I get free access to the electronic version of the EJP?
                  |
                  | If you are a member of the European Pain Federation EFIC through a national Chapter (IASP Chapter), or if you attended the last EFIC congress, then you can request free access to the online version of EJP&nbsp;
                  a(href="https://www.europeanpainfederation.eu/newsletter/ejp-ejp-subscription/") here
                  | .
                p
                  strong I cannot log on to the EJP section.
                  |
                  | Send an e-mail to:
                  |
                  a(href="mailto:secretary@efic.org") secretary@efic.org
                  | . The helpdesk will kindly help you with sorting out your problem.
                p
                  strong I cannot remember my password.
                  |
                  | Have you already tried to click on the button “Retrieve my password”? If this doesn’t work, then you need to send an e-mail to&nbsp;
                  a(href="mailto:secretary@efic.org") secretary@efic.org
                  |  in order to see whether your email is still active.
                p
                  strong My address or email address has changed. How can I update that information in order to access the EJP?
                  |
                  | Please send an e-mail stating your old and new details to&nbsp;
                  a(href="mailto:secretary@efic.org") secretary@efic.org
                  |
                  | and we will update your information

          .faq-drawer
            input#faq-drawer-7.faq-drawer__trigger(type="checkbox")
            label.faq-drawer__title(for="faq-drawer-7") EFIC Pain Schools
            .faq-drawer__content-wrapper
              .faq-drawer__content
                p
                  strong What are the European Pain Federation EFIC Pain Schools?
                  |
                  | The European Pain Federation EFIC Pain Schools are courses aimed at younger (under 45 years) European medical doctors and paramedical personnel who are interested in the field of pain and wish to advance their knowledge. These courses run for 4-5 days and focus on pain assessment and treatment for people with pain. To be eligible to apply for a grant to attend one of the Schools you need to be a European Pain Federation EFIC&nbsp;Chapter member.
                p Want to learn more about our EFIC Pain Schools? Check out our&nbsp;
                  a(href="https://europeanpainfederation.eu/wp-content/uploads/2019/10/EFIC-Triptic-Pain-Schools-WEB.pdf") EFIC Pain Schools at a glance
                  | . Information on the next EFIC pain schools can be found&nbsp;
                  a(href="https://europeanpainfederation.eu/education/pain-schools/") here
                  | .
                p
                  strong How can I attend?
                  |
                  | Each national Council Member can propose a maximum of two candidates to apply for a European Pain Federation EFIC grant to attend a Pain School. The applicants must complete the application form and submit it to the Federation’s Office (
                  a(href="mailto:secretary@efic.org") secretary@efic.org
                  | ) by the deadline. All applicants are evaluated by the Federation’s Committee on Education and approved by the Federation’s&nbsp;Executive Board.
                p
                  strong I am not a member of a national Chapter – can I still attend?
                  |
                  | If you are not a member of a national Chapter&nbsp;you cannot apply for a grant to attend a Pain School. However, you can still attend by registering directly with the pain school. More information on this can be found here.
