+b.SECTION#faq.faq.section
  .container
    .row
      .col-12
        h2.section__title Faq
    .row
      .col-12
        +e.wrap
          .faq-drawer
            input#faq-drawer.faq-drawer__trigger(type="checkbox")
            label.faq-drawer__title(for="faq-drawer") General
            .faq-drawer__content-wrapper
              .faq-drawer__content
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          .faq-drawer
            input#faq-drawer-2.faq-drawer__trigger(type="checkbox")
            label.faq-drawer__title(for="faq-drawer-2") National Chapters
            .faq-drawer__content-wrapper
              .faq-drawer__content
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          .faq-drawer
            input#faq-drawer-3.faq-drawer__trigger(type="checkbox")
            label.faq-drawer__title(for="faq-drawer-3") EFIC Academy
            .faq-drawer__content-wrapper
              .faq-drawer__content
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          .faq-drawer
            input#faq-drawer-4.faq-drawer__trigger(type="checkbox")
            label.faq-drawer__title(for="faq-drawer-4") EFIC Virtual Pain Education Summit
            .faq-drawer__content-wrapper
              .faq-drawer__content
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          .faq-drawer
            input#faq-drawer-5.faq-drawer__trigger(type="checkbox")
            label.faq-drawer__title(for="faq-drawer-5") EFIC Congress — Pain in Europe
            .faq-drawer__content-wrapper
              .faq-drawer__content
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          .faq-drawer
            input#faq-drawer-6.faq-drawer__trigger(type="checkbox")
            label.faq-drawer__title(for="faq-drawer-6") European Journal of Pain
            .faq-drawer__content-wrapper
              .faq-drawer__content
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          .faq-drawer
            input#faq-drawer-7.faq-drawer__trigger(type="checkbox")
            label.faq-drawer__title(for="faq-drawer-7") EFIC Pain Schools
            .faq-drawer__content-wrapper
              .faq-drawer__content
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
