+b.SECTION.fees.section
  .container
    .row
      .col-md-12.col-lg-6
        h2.section__title Reduced fees
          br
          | for EFIC exams
        +e.text The European Pain Federation organise various post-graduate diploma examination aiming to establish a harmonised understanding of pain across Europe through qualifications designed and implemented by leading European educators. These examinations are open to healthcare professionals from within outside of Europe.
        .button-wrapper
          a.button.button--blue(href="#") Join Now
          a.link(href="#") Find out more
      .col-md-12.col-lg-6
        +e.info
          +e.image-block
            img(src="img/fees/02.jpg", alt="")
          +e.numbers
            +e.numbers-item
              +e.numbers-item__num -25
                span %
              +e.numbers-item__text A reduction of the examination fees (excluded VAT) is available to all Academy members
