+b.SECTION#discount.fees.section.fees-02
  .container
    .row
      .col-md-12.col-lg-6
        h2.section__title Reduced fees
          br
          | for EFIC exams
        +e.text The European Pain Federation organise various post-graduate diploma examinations aiming to establish a harmonised understanding of pain across Europe through qualifications designed and implemented by leading European educators.
        .button-wrapper.is-desktop
          a.button.button--blue(href="#") Join Now
          a.link(href="#") Find out more
      .col-md-12.col-lg-6
        +e.info
          +e.image-block
            +e.image
              +e.image-bg(style="background-image: url('img/fees/02.jpg')")
              +e.overlay
          +e.numbers
            +e.numbers-item
              +e.numbers-item__num -25
                span %
              +e.numbers-item__text A reduction of examination fees is available to all Academy members
          .button-wrapper.is-mobile
            a.button.button--blue(href="#") Join Now
            a.link(href="#") Find out more
