+b.SECTION.fees.section.-light-blue.fees-01
  .container
    .row
      .col-md-12.col-lg-4
        h2.section__title Reduced fees
          br
          | for EFIC Congress — “Pain in Europe”
        +e.text The European Pain Federation organises a large scientific congress, usually every two years. Our congress gives access to the leading lectures and a scientific programme consisting of the latest evidence-based and best-practice-based medicine and healthcare in all relevant disciplines in the field of pain management. The congress also features refresher courses for healthcare professionals wishing to top-up their learning according to the curricula of the Federation.
      .col-md-12.col-lg-8
        +e.info
          +e.image-block
            img(src="img/fees/01.jpg", alt="")
            span Dublin
          +e.numbers
            +e.numbers-item
              +e.numbers-item__num 2000
              +e.numbers-item__text attendaies
            +e.numbers-item
              +e.numbers-item__num 98
                span %
              +e.numbers-item__text Would attend
                br
                | the congress
                br
                | the
            +e.numbers-item
              +e.numbers-item__num 94
                span %
              +e.numbers-item__text Agreed the Congress
                br
                | is likely to benefit
                br
                | their career
                br
                | as a researcher

    .row
      .col-12
        .button-wrapper
          a.button.button--blue(href="#") Join Now
          a.link(href="#") Find out more
