+b.info-block
  .container
    +e.wrap
      +e.item
        +e.item-img
          img(src="img/info-block/01.svg", alt="" loading="lazy")
        +e.item-title Improve your understanding
          br
          | of pain MANAGEMENT
      +e.item
        +e.item-img
          img(src="img/info-block/02.svg", alt="" loading="lazy")
        +e.item-title ADVANCE
          br
          | your career
      +e.item
        +e.item-img
          img(src="img/info-block/03.svg", alt="" loading="lazy")
        +e.item-title lEARN FROM LEADING EXPERTS
          br
          | IN THEIR FIELD
