+b.info-block
  .container
    +e.wrap
      +e.item
        +e.item-img
          img(src="img/info-block/01.svg", alt="" loading="lazy")
        +e.item-title Improve your
          br
          | understanding of pain
      +e.item
        +e.item-img
          img(src="img/info-block/02.svg", alt="" loading="lazy")
        +e.item-title Benefit
          br
          | your career
      +e.item
        +e.item-img
          img(src="img/info-block/03.svg", alt="" loading="lazy")
        +e.item-title Share and learn
          br
          | cutting edge research
