+b.SECTION.membership.section
  +e.wrap
    .container
      .row
        .col-md-12.col-lg-3
          .membership__title-wrap
            h2.section__title Membership benefits
        .col-md-12.col-lg-9
          .row
            .col-6.col-md-3
              +membership({
                name: "Summit",
                img: "membership/01.svg"
              })
            .col-6.col-md-3
              +membership({
                name: "Online school",
                img: "membership/02.svg"
              })
            .col-6.col-md-3
              +membership({
                name: "Discounts",
                img: "membership/03.svg"
              })
            .col-6.col-md-3
              +membership({
                name: "Webinars",
                img: "membership/04.svg"
              })
