+b.SECTION.partners.section
  .container
    .row
      .col-12
        h2.section__title Our partners
    .row
      .col-12
        +e.wrap
          +partner({
            img: "partners/01.jpg"
          })
          +partner({
            img: "partners/02.jpg"
          })
          +partner({
            img: "partners/03.jpg"
          })
          +partner({
            img: "partners/04.jpg"
          })
          +partner({
            img: "partners/05.jpg"
          })
          +partner({
            img: "partners/06.jpg"
          })
          +partner({
            img: "partners/07.jpg"
          })
          +partner({
            img: "partners/08.jpg"
          })
          +partner({
            img: "partners/09.jpg"
          })
          +partner({
            img: "partners/10.jpg"
          })
          +partner({
            img: "partners/11.jpg"
          })
          +partner({
            img: "partners/12.jpg"
          })
          +partner({
            img: "partners/13.jpg"
          })
          +partner({
            img: "partners/14.jpg"
          })
          +partner({
            img: "partners/15.jpg"
          })
