+b.SECTION#online.statistics.-orange.section
  .container
    .row.-reverse
      .col-md-12.col-lg-6
        h2.section__title Open access to
          br
          | the highest quality online pain education material
        +e.text The EFIC Academy Education Platform includes tailored material to the four EFIC curricula, developed by leading European educators specifically with an online learning environment in mind. Learners will be able to pursue self-directed learning or follow specific tracks relevant to their profession. Access will be limited to Academy members only.
        .button-wrapper
          a.button.button--blue(href="#") Become a ​Member Now
          a.link(href="#") Find out more

      .col-md-12.col-lg-6
        +e.info
          +e.numbers
            +e.numbers-item
              +e.numbers-item__num 97
                span %
              +e.numbers-item__text Agree that the quality of the educational content is excellent
            +e.numbers-item
              +e.numbers-item__num 120
              +e.numbers-item__text sessions and many more to be added soon
            +e.numbers-item
              +e.numbers-item__num.-text specific tracks
              +e.numbers-item__text for physicians, physiotherapists, psychologists and nurses
          +e.image
            img.src(src="img/statistics/02.svg", alt="")
