+b.SECTION.statistics.section
  .container
    .row
      .col-12.col-md-6
        h2.section__title Attendance at the EFIC Virtual Pain Education Summit 2021
        +e.text the European Pain Federation is organising the second edition of a fully multi- and interprofessional pain education event. The Virtual Pain Education Summit is designed to meet the pain education needs of learners during a period when international travel is challenging. The Summit has tracks tailored to physicians, physiotherapists, clinical psychologists, and nurses. Access to the event is free to Academy members.
        .button-wrapper
          a.button.button--blue(href="#") Join Us
          a.link(href="#") Find out more

      .col-12.col-md-6
        +e.info
          +e.numbers
            +e.numbers-item
              +e.numbers-item__num 40
              +e.numbers-item__text Over 40 hours of teaching across 3 days
            +e.numbers-item
              +e.numbers-item__num 96
                span %
              +e.numbers-item__text Agreed that the quality of the speakers was excellent
            +e.numbers-item
              +e.numbers-item__num 100
              +e.numbers-item__text Over 100 faculty members
          +e.image
            img.src(src="img/statistics/01.svg", alt="")
