+b.SECTION#summit.statistics.section
  .container
    .row
      .col-md-12.col-lg-6
        h2.section__title Attend the EFIC
        br
        | Virtual Pain Education
        br
        | Summit 2021
        +e.text The EFIC Virtual Pain Education Summit is a  fully multi- and interprofessional pain education event in November 2021 with tracks tailored to physicians, physiotherapists, psychologists, and nurses. This event is for EFIC Academy members only.
        .button-wrapper
          a.button.button--blue(href="#") Join Us
          a.link(href="#") Find out more

      .col-md-12.col-lg-6
        +e.info
          +e.numbers
            +e.numbers-item
              +e.numbers-item__num 40
              +e.numbers-item__text hours of teaching across 3 days
            +e.numbers-item
              +e.numbers-item__num 97
                span %
              +e.numbers-item__text Agreed that the quality of the educational content was excellent
            +e.numbers-item
              +e.numbers-item__num 100
              +e.numbers-item__text renowned faculty members
          +e.image
            img.src(src="img/statistics/01.svg", alt="")
