+b.SECTION.twitter.section
  .container
    .row
      .col-12
        h2.section__title  JOIN THE COMMUNITY
    .row
      .col-12.col-sm-6.col-lg-4
        blockquote.twitter-tweet
          p(lang="en" dir="ltr") Fab session by Tamar Pincus,
            a(href="https://twitter.com/drabbiejordan?ref_src=twsrc%5Etfw") @drabbiejordan
            a(href="https://twitter.com/MelanieNoel?ref_src=twsrc%5Etfw") @MelanieNoel
            | on reassurance, diagnostic uncertainty in chronic pain. Leads me back to healthcare&#39;s problematic idea that biomedical = certain, whereas biopsychosocial = uncertain. We all need more
            a(href="https://twitter.com/hashtag/healthliteracy?src=hash&amp;ref_src=twsrc%5Etfw") #healthliteracy
            a(href="https://twitter.com/hashtag/EFIC2019?src=hash&amp;ref_src=twsrc%5Etfw") #EFIC2019
            a(href="https://t.co/353HIUT7OP") pic.twitter.com/353HIUT7OP
          | &mdash; C. Meghan McMurtry (@DrMcMurtry)
          a(href="https://twitter.com/DrMcMurtry/status/1169607139398246400?ref_src=twsrc%5Etfw") September 5, 2019
        script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")

        blockquote.twitter-tweet
          p(lang="en" dir="ltr") Thank you
            a(href="https://twitter.com/EFIC_org?ref_src=twsrc%5Etfw") @EFIC_org
            | For the Pain Champion Award 2019. Feeling very honoured and proud to be part the Education Committee. Congratulations to all of my eminent colleagues also celebrating.
            a(href="https://twitter.com/hashtag/efic2019?src=hash&amp;ref_src=twsrc%5Etfw") #efic2019
            a(href="https://twitter.com/KingsNursing?ref_src=twsrc%5Etfw") @KingsNursing
            a(href="https://t.co/oL678TSwm8") pic.twitter.com/oL678TSwm8
          | &mdash; Emma Briggs (@DrEmmaBriggs)
          a(href="https://twitter.com/DrEmmaBriggs/status/1169541330525151234?ref_src=twsrc%5Etfw") September 5, 2019
        script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")

      .col-12.col-sm-6.col-lg-4
        blockquote.twitter-tweet
          p(lang="en" dir="ltr") Grateful to have been apart of the
            a(href="https://twitter.com/hashtag/younginvestigators?src=hash&amp;ref_src=twsrc%5Etfw") #younginvestigators
            | symposium and to talk about exciting work coming out of the
            a(href="https://twitter.com/BPPLab?ref_src=twsrc%5Etfw") @BPPLab
            | focused on graded exposure treatment for adolescents with chronic pain. Great way to wrap up
            a(href="https://twitter.com/hashtag/EFIC2019?src=hash&amp;ref_src=twsrc%5Etfw") #EFIC2019
            | !
            a(href="https://t.co/Ac3usWEUQh") pic.twitter.com/Ac3usWEUQh
          | &mdash; Lauren Harrison (@harrison_laur)
          a(href="https://twitter.com/harrison_laur/status/1170326534487511041?ref_src=twsrc%5Etfw") September 7, 2019
        script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")

        blockquote.twitter-tweet
          p(lang="en" dir="ltr") Nice talk to kick off
            a(href="https://twitter.com/hashtag/EFIC2019?src=hash&amp;ref_src=twsrc%5Etfw") #EFIC2019
            | by
            a(href="https://twitter.com/MiraMeeus?ref_src=twsrc%5Etfw") @MiraMeeus
            | about the importance explaining and normalizing post-exercise pain flares in patients with chronic pain in an attempt to retrain the brain and shift negative associations between pain and exercise.
            a(href="https://t.co/PPvB8SR8pK") pic.twitter.com/PPvB8SR8pK
          | &mdash; Lauren Harrison (@harrison_laur)
          a(href="https://twitter.com/harrison_laur/status/1169152030872678400?ref_src=twsrc%5Etfw") September 4, 2019
        script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")

      .col-12.col-sm-6.col-lg-4
        blockquote.twitter-tweet
          p(lang="en" dir="ltr") Ready to present our research
            a(href="https://twitter.com/EFIC_org?ref_src=twsrc%5Etfw") @EFIC_org
            a(href="https://twitter.com/hashtag/efic2019?src=hash&amp;ref_src=twsrc%5Etfw") #efic2019
            a(href="https://twitter.com/DamsLore?ref_src=twsrc%5Etfw") @DamsLore
            a(href="https://t.co/Cdd01UkI8O") pic.twitter.com/Cdd01UkI8O
          | &mdash; Elien Van der Gucht (@ElienVdG)
          a(href="https://twitter.com/ElienVdG/status/1169915526971305985?ref_src=twsrc%5Etfw") September 6, 2019
        script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")

        blockquote.twitter-tweet
          p(lang="en" dir="ltr") Prof Lorimer Moseley explaining the importance of understanding pain and the need for pain education when treating people in ongoing pain
            a(href="https://twitter.com/hashtag/EFIC2019?src=hash&amp;ref_src=twsrc%5Etfw") #EFIC2019
            a(href="https://twitter.com/hashtag/UCNfys?src=hash&amp;ref_src=twsrc%5Etfw") #UCNfys
            a(href="https://twitter.com/hashtag/SMI?src=hash&amp;ref_src=twsrc%5Etfw") #SMI
            a(href="https://twitter.com/hashtag/AAU?src=hash&amp;ref_src=twsrc%5Etfw") #AAU
            a(href="https://t.co/Fpd1rj5utO") pic.twitter.com/Fpd1rj5utO
          | &mdash; Steffan Christensen (@SW_Christensen)
          a(href="https://twitter.com/SW_Christensen/status/1169949079436029952?ref_src=twsrc%5Etfw") September 6, 2019
        script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")

    .row
      .col-12
        +e.A.button.button.button--blue Become an EFIC Academy Member now

