+b.SECTION.video.section
  .container
    .row
      .col-12
        +e.box
          video(controls="")
            source(type="video/mp4" src="https://europeanpainfederation.eu/wp-content/uploads/2021/05/Education-Platform-Launch-Video.mp4")
