+b.SECTION.who.section
  .container
    .row
      .col-12
        h2.section__title Who is it
          br
          |  for?
    .row
      +who({
        name: "Physiotherapist",
        img: "who/physiotherapist.jpg"
      })
      +who({
        name: "Physician",
        img: "who/physician.jpg"
      })
      +who({
        name: "Nurses",
        img: "who/nurses.jpg"
      })
      +who({
        name: "Psychologists",
        img: "who/psychologists.jpg"
      })
